<html>
<head>
    <title>Express app</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hell EJS</h1>
    <div>
        People: <%= people.join(", "); %>
    </div>
</body>
</html>